<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="WeProvide\NginxRedirect\Model\ResourceModel\Redirect\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">nginxredirects</argument>
            <argument name="resourceModel" xsi:type="string">WeProvide\NginxRedirect\Model\ResourceModel\Redirect</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="redirect_listing_data_source" xsi:type="string">WeProvide\NginxRedirect\Model\ResourceModel\Redirect\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\Argument\Interpreter\ConfigurableObject">
        <arguments>
            <argument name="classWhitelist" xsi:type="array">
                <item name="0" xsi:type="string">Magento\Framework\Data\OptionSourceInterface</item>
                <item name="1" xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface</item>
                <item name="2" xsi:type="string">Magento\Framework\View\Element\UiComponent\ContextInterface</item>
            </argument>
        </arguments>
    </type>

    <type name="WeProvide\NginxRedirect\Model\Source\Config\MatchOperator">
        <arguments>
            <argument name="defaultMatchOperator" xsi:type="string">prefix</argument>

            <argument name="matchOperators" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="label" xsi:type="string">Default (Prefix)</item>
                    <item name="operator" xsi:type="string" />
                </item>

                <item name="exact" xsi:type="array">
                    <item name="label" xsi:type="string">Exact (=)</item>
                    <item name="operator" xsi:type="string">=</item>
                </item>

                <item name="case-sensitive-regular-expression" xsi:type="array">
                    <item name="label" xsi:type="string">Case-Sensitive Regular Expression (~)</item>
                    <item name="operator" xsi:type="string">~</item>
                </item>

                <item name="case-insensitive-regular-expression" xsi:type="array">
                    <item name="label" xsi:type="string">Case-Insensitive Regular Expression (~*)</item>
                    <item name="operator" xsi:type="string">~*</item>
                </item>

                <item name="best-non-regular-expression-match" xsi:type="array">
                    <item name="label" xsi:type="string">Best Non-Regular Expression Match (^~)</item>
                    <item name="operator" xsi:type="string">^~</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
