<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="weprovide" translate="label" sortOrder="500">
            <label>We Provide</label>
        </tab>
        <section id="weprovide_nginxredirect" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
            <label>Nginx Redirect</label>
            <tab>weprovide</tab>
            <resource>WeProvide_NginxRedirect::nginxredirect</resource>
            <group id="path" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Path</label>
                <field id="path" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Config Path</label>
                    <comment>Relative to the root directory of the Magento installation.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
